[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "zsh/.zsh/themes/powerlevel9k"]
	path = zsh/.zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
